# BrowserStack Credentials
BROWSERSTACK_USERNAME=your_username
BROWSERSTACK_ACCESS_KEY=your_access_key

# Platform to run (android or ios)
PLATFORM=android

# Android Settings
BROWSERSTACK_ANDROID_DEVICE_NAME=Google Pixel 8
BROWSERSTACK_ANDROID_PLATFORM_VERSION=14.0
# This is the App URL returned after uploading the APK to BrowserStack
BROWSERSTACK_APP_ID_Android=bs://<hashed_id>
